body 
{
	background:#B2EBF2;
	font-family: seriff;
}

h1, h3
{
	color: #01579B;
	padding: 12px 12px 6px 12px; 
}

header
{
	background: #80DEEA;
	color: #006064;
	padding: 24px 16px 24px 16px;
}

a
{
	color: #006064;
}	

p
{
	color: #263238;		
	padding: 0px 8px 0px 8px;
}

.special
{
	background: cyan;
	color: gray;
}
